__pycache__
data/HFI_PCCS_SZ-MMF3_R2.08.fits
data/HFI_PCCS_SZ-union_R2.08.fits
.DS_Store
cnc.egg*
n_q.txt
n_z.txt
mcmcs/cobaya/chains
*060423.zip
data/*
data/spt/*
data/spt/.DS_Store
test_files/.ipynb_checkpoints/test_1d_spt-checkpoint.ipynb
tutorials/.ipynb_checkpoints/cosmocnc_so_benchmark_class_sz-checkpoint.ipynb
*.egg-info*
cosmocnc.egg-info/SOURCES.txt
tutorials/.ipynb_checkpoints*
*.ipynb_checkpoints*
tutorials/test_files/test_outputs/cat1.csv
tutorials/test_files/catalogue_test.py
