__pycache__
data/HFI_PCCS_SZ-MMF3_R2.08.fits
data/HFI_PCCS_SZ-union_R2.08.fits
.DS_Store
cnc.egg*
n_q.txt
n_z.txt
mcmcs/cobaya/chains
*060423.zip
data/*
data/spt/*
test_files/*
test_files/n_q_new.txt
test_files/n_z_new.txt
test_files/test.py
